extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1 Computer Not Working?
          p bala
          p
            a.btn.btn-primary.btn-lg(href='#') Read More
        .col-md-5
          img(src='images/mouse.jpg')
  .row
    .col-md-4
      .well
        h2 Hardware Problems?
        p balabal
    .col-md-4
      .well
        h2 Software Problems?
        p balabal
    .col-md-4
      .well
        h2 PC Tune Up
        p balabal

